<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Page</title>
</head>
<body>
<form method="post" action="{% url 'type:AddMember' %}">
    {% csrf_token %}
    <p>add group member</p>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="username" name="member" value="">
    </div>
    <button type="submit" class="btnSubmit" style="font-family: '2  Koodak';margin-top: 30px; margin-bottom: -5px">
        add
    </button>
</form>
</form>
</body>
</html>