<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Page</title>
</head>
<body>
        <form method="post" action="{% url 'type:CreateGroup' %}">
                {% csrf_token %}
            <div class="form-group">
                        <input type="text" class="form-control" placeholder="نام گروه" name="name" value="">
            </div>
            <button type="submit" class="btnSubmit"  style="font-family: '2  Koodak';margin-top: 30px; margin-bottom: -5px">create</button>
        </form>

</body>
</html>