<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing speed test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/normal.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>
    <div id="your-attempt" class="mono your-attempt"></div>
    <input class="profile-edit-btn" type="submit" value="submit" onclick="finish()"/>
    {% if score %}
    <p>Your score is: {{score}} </p>
    {% endif %}
    <script>
        let typed_string = "";
        let typed_string_with_blank = "";
        $(window).keypress(function (evt) {
            evt = evt || window.event;
            var charCode = evt.which || evt.keyCode;
            var charTyped = String.fromCharCode(charCode);
            typed_string += (charTyped);
            typed_string_with_blank += (charTyped);
            if (typed_string.length % 60 == 0) {
                typed_string_with_blank += '\n';
            }
            $("#your-attempt").text(typed_string_with_blank + '|');

        });
        function finish(){
           $.post("{%url 'type:change_song_score' %}",{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                user_typed_string: typed_string
            }).done(function(data){
                    console.log("i am here")
            });
            window.location.href="{%url 'type:show_song_score' %}";
        }


    </script>
</body>
</html>