<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing speed test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/normal.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="your-attempt" class="mono your-attempt"></div>
    <input class="profile-edit-btn" type="submit" value="submit" onclick="finish()"/>
    <script>
        let char_count=0;
        let typed_string = "";
        $(window).keypress(function (evt) {
            evt = evt || window.event;
        var charCode = evt.which || evt.keyCode;
        var charTyped = String.fromCharCode(charCode);
         $("#your-attempt").append(charTyped);
         typed_string += (charTyped);
         char_count++;
         if(char_count % 60 == 0){
             $("#your-attempt").append('\n');
         }
        })
        function finish(){
            $.post(
                "{% url 'type:change_song_score' %}",{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    user_typed_string: typed_string
                }
            );
            window.location.href = "{% url 'type:home' %}";
        }
    </script>
</body>
</html>