{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../static/css/login.css"/>

    <title>change password</title>
</head>

<body>

<div class="container login-container">
    <div class="row">

        <div class="col-md-6 login-form-2">
            <h3>Change Password</h3>
            {% if error %}
            <h2> sth is wrong </h2>
            {% endif %}

            <form method="post" action="{% url 'edit_password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="Password" class="form-control" placeholder="Old Password" name="oldpass" value="">
                </div>
                <div class="form-group">
                    <input type="Password" class="form-control" placeholder="New Password" name="newpass" value="">
                </div>
                <div class="form-group">
                    <input type="Password" class="form-control" placeholder="Confirm Password" name="confirmpass" value="">
                </div>

<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" placeholder="Confirm Password" name="Confirm_password" value="">-->
<!--                </div>-->

                <div class="form-group">
                    <center><input type="submit" class="btnSubmit" value="Submit"></center>
                </div>
            </form>

        </div>

    </div>

</div>


</body>

</html>