{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../../static/css/login.css?version=51">


    <title>login</title>

</head>

<header>
    <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}"
        >صفحه اصلی</a>
    </div>
</header>

<body>

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form">
            <h3>ورود</h3>
            <form method="post" action="{% url 'type:signin' %}">
                {% csrf_token %}
                {% if error %}
                <center><p class="login-error" style="color: #750000;
    font-family:'B Mehr';
    font-size: 17px;">نام کاربری یا رمز عبور اشتباه است، دوباره سعی کنید</p></center>

                {% endif %}
                <input type="text" class="test-input" placeholder=" نام کاربری" name="username" value="">

                <input type="password" class="test-input" placeholder=" رمز عبور" name="password" value="">


                <center><input type="submit" class="btnSubmit"
                               value="ورود"></center>
                <center><a class="forget-link" href="{% url 'reset_password' %}"
                >فراموشی رمز عبور</a></center>

            </form>
        </div>
    </div>
</div>

</body>

</html>