{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password_reset_done</title>
    <meta charset="UTF-8">
    <title>password_reset</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../static/css/reset-password.css?version=51"/>
    <link rel="stylesheet" href="../../static/css/basics.css?version=51">


</head>
<body>
<header>
    <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}">صفحه اصلی</a>
    </div>
</header>
<div align="right" class="container emp-profile" style="margin: 5%; font-family: '2  Yekan'">
    <h3 style="margin-top:-5%">عملیات تغییر رمز به پایان رسید</h3>

    <p style="margin-top:30px">.کلمه عبور شما تغییر کرد، از لینک زیر برای ورود استفاده کنید </p>

    <a href="{% url 'type:user_auth' %}">Log in</a>
</div>
</body>
</html>