{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password_reset_sent</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
	<link rel="stylesheet" href="../../static/css/reset-password.css"/>
    <link rel="stylesheet" href="{% static "reset-password.css" %}" />
</head>
<body>
<header>
    <div class="container-fluid p-0">
	<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand myHover" href="{% url 'type:home' %}">Call Of Typing</a>
    </nav>
    </div>
</header>
<div align="right" class="container emp-profile" style="margin: 5%">
    <div style="margin-top:-5%; font-family: 'B Mehr'" >
        <h3>ایمیل ارسال شد</h3>
    </div>

<div style="margin-top:60px; font-family: 'B Mehr'" >
    <p> .ایمیل جهت تغییر رمز ارسال شد، در صورت وجود حساب کاربری با این ایمیل شما پیام را دریافت کرده اید </p>
    <p> .اگر ایمیل را دریافت نکرده اید اسپم را چک کنید، اگر موفق نشدید شما با این ایمیل در سایت ثبت نام نکرده اید </p>
</div>

</div>
</body>
</html>