{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password_reset_form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../reset/profile.css?version=51"/>
    <link rel="stylesheet" href="../../static/css/basics.css?version=51">
    <link rel="icon" href="../../static/img/b.png" type="image/gif" sizes="16x16">

</head>
<body>
<header>
    <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}">صفحه اصلی</a>
    </div>
</header>
<div class="container emp-profile" style="margin: 5%">
    <h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">

        {% csrf_token %}
        {{form}}
        <input type="Submit" name="Update Password">

    </form>
</div>
</body>
</html>