{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password_reset</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
	<link rel="stylesheet" href="../../static/css/reset-password.css?version=51"/>
	    <link rel="stylesheet" href="../../static/css/basics.css?version=51">

	 

</head>
<body>
<header>
 <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}" >صفحه اصلی</a>
    </div>
</header>

<div align="center" class="container emp-profile">
			<h3 style="margin-top: -5%; font-family: 'B Mehr';font-size:30px">تغییر رمز</h3>
	<div align="right" style="margin-top: 70px; font-family: 'B Mehr';font-size:17px " >
		<p> .کلمه عبور خود را فراموش کرده اید؟ ایمیل خود را وارد کنید و ما یک لینک برای تنظیم دوباره آن برای شما ارسال میکنیم </p>

	</div>
	<div align="left">
		<form method="post">

				{% csrf_token %}
				{{form}}
				<input style="font-family: 'B Mehr'" type="Submit" name="Send email" value="تایید">

		</form>
	</div>
</div>
</body>
</html>