{% load static %}


<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../static/css/profile.css"/>

    <style>
        body{
            background-image: url("../../static/img/profile.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .profile_image_border {
            border-style: solid;
            border-width: 5px;
            border-radius: 50%;
            border-color: #1a1a3a;
        }

    </style>
</head>

<header>
    <div align="right">
        <a class="profile-edit-btn" href="{% url 'type:home' %}" style="color: white; font-family: 'B Mehr'">صفحه اصلی</a>
        {% csrf_token %}
        <a class="profile-edit-btn" href="{% url 'type:change_password'%}" style="color: white; font-family: 'B Mehr'">تغییر رمز</a>
        <a class="profile-edit-btn" href="{% url 'type:change_image'%}" style="color: white; font-family: 'B Mehr'">تغییر عکس پروفایل</a>
        <a class="profile-edit-btn" href="{% url 'type:createTextType'%}" style="color: white">ایجاد تست</a>
    </div>

</header>
<body>

<div class="container emp-profile">
    <form method="post" action="{% url 'type:edit' %}">
        <div class="row">
            <div class="col-md-4">

                <div class="profile-img">
                    {% if user.profile.image %}
                    <img class="profile_image_border" src="{{ user.profile.image.url }}"
                         alt=""/>
                    {% else %}
                    <img class="profile_image_border" src="../../static/media/profile_image/machinelearning.jpg"
                         alt=""/>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 style="padding-bottom: 20px">
                        {{user.first_name}} {{user.last_name}}
                    </h5>
                    <p>
                        <span class="proile-rating" style="margin-left: 190px; font-family: 'B Mehr' "> رتبه فعلی(متن) : <span>{{user.profile.get_text_rank}}  </span> </span>
                        <span class="proile-rating" style="padding-right: 20px; font-family: 'B Mehr'">رتبه فعلی(آهنگ) : <span>{{user.profile.get_song_rank}} </span> </span>
                    </p>

                    <p>
                        <span class="proile-rating" style="margin-left: 145px; font-family: 'B Mehr'"> بهترین امتیاز(متن) : <span>{{user.profile.text_max_point}}  </span> </span>
                        <span class="proile-rating" style="padding-right: 20px; font-family: 'B Mehr'">مجموع امتیازات(متن) : <span>{{user.profile.text_score}} </span> </span>
                    </p>

                    <p>
                        <span class="proile-rating" style="margin-left: 145px; font-family: 'B Mehr'"> بهترین امتیاز(آهنگ) : <span>{{user.profile.song_max_point}}  </span> </span>
                        <span class="proile-rating" style="padding-right: 20px; font-family: 'B Mehr'">مجموع امتیازات(آهنگ) : <span>{{user.profile.song_score}} </span> </span>
                    </p>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true" style="font-family: 'B Mehr'">اطلاعات</a>
                        </li>
                        <!--                                <li class="nav-item">-->
                        <!--                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>-->
                        <!--                                </li>-->
                    </ul>
                </div>
            </div>
            {% csrf_token %}
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="ثبت تغییرات" style="font-family: 'B Mehr'"/>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-md-4">
                <div class="profile-work">
                    <p>مهارت ها</p>
                    <a href="">###</a><br/>
                    <a href="">###</a><br/>
                    <a href="">###</a><br/>
                    <a href="">###</a><br/>
                    <a href="">###</a><br/>
                </div>
            </div>
            -->
            <div class="col-md-8" style="margin-left: 350px">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{user.username}}</p>
                            </div>
                            <div class="col-md-6">
                                <label style="font-family: 'B Mehr'">نام کاربری</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input style="font-family: 'B Mehr'; text-align: right" type="text" value="{{user.first_name}}" name="firstName">
                            </div>
                            <div class="col-md-6">
                                <label style="font-family: 'B Mehr'">نام</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input style="font-family: 'B Mehr'; text-align: right" type="text" value="{{ user.last_name }}" name="lastName">
                            </div>
                            <div class="col-md-6">
                                <label style="font-family: 'B Mehr'">نام خانوادگی</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{user.email}}</p>
                            </div>
                            <div class="col-md-6">
                                <label>ایمیل</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</body>
</html>