<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../static/css/register.css" />

    <title>Register</title>
</head>


<header>
    <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}" style="color: blue">صفحه اصلی</a>
    </div>
</header>

<div class="container register-form">
    <form method="post" action="{% url 'type:register' %}" class="form-group">
        {% csrf_token %}
        <div class="col-md-6 note">
            <p>ثبت نام</p>
        </div>

        <div class=" col-md-6 form-content">
            <div class="row">

                {% if error %}
                <div class="form-control alert alert-danger" role="alert">
                    <center style="color: red;">خطایی وجود دارد</center>
                </div>
                {% endif %}
                <div class="col-md-6">
                    <div class="form-group">
                        <input id="first_name" type="text" class="form-control" placeholder="* نام" value=""
                            name="firstname" />
                    </div>
                    <div class="form-group">
                        <input id="last_name" type="text" class="form-control" placeholder="* نام خانوادگی" value=""
                            name="lastname" />
                    </div>
                    <div class="form-group">
                        <input id="email" type="email" class="form-control" placeholder="* ایمیل" value=""
                            name="email" />
                    </div>
                    <div class="form-group">
                        <input id="username" type="text" class="form-control" placeholder="* نام کاربری" value=""
                            name="username" />
                    </div>
                    <div class="form-group">
                        <input id="password_1" type="password" class="form-control" placeholder="* رمز عبور"
                            value="" name="pass"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="تعداد حروف باید از 8 تا بیشتر باشه، و شامل عدد و حروف کوچک و حروف بزرگ باشه"/>
                    </div>
                    <div class="form-group">
                        <input id="password_2" type="password" class="form-control" placeholder="* تکرار رمز عبور"
                            value="" name="confpass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="تعداد حروف باید از 8 تا بیشتر باشه، و شامل عدد و حروف کوچک و حروف بزرگ باشه"/>
                    </div>
                </div>
            </div>
            <center>
                <button id="submit_btn" type="submit" class="btnSubmit">ایجاد اکانت</button>
            </center>
        </div>
    </form>
</div>
</body>

</html>