body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(90deg, rgba(26,65,73,1) 0%, rgba(35,163,204,1) 100%);
    --light-gray: rgba(255, 255, 255, 0.877);
}

.emp-profile {
    padding: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

header a {
    font-family: var(--Sniglet-font);
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
}

header a:hover {
    color: white;
}

header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc ;
     color:#fff;
}