{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Homepage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css?version=51"/>
    <link rel="stylesheet" href="../static/css/basics.css?version=51"/>
    <link rel="icon" href="../static/img/b.png" type="image/gif" sizes="16x16">
</head>

<body>
<header>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand myHover" href="#">Call Of Typing</a>
            {% if user.is_authenticated %}
                <div style="color:white">@{{ user.username }}</div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-align-right text-light"></i>
            </button>

            {% if user.is_authenticated %}

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav_bar_content" href="{% url 'type:logout' %}">خروج</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'type:UploadMusic' %}">آپلود موسیقی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about_section">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'type:profile' %}">پروفایل</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'type:home' %}">صفحه اصلی
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                </div>
                </nav>

            {% else %}

                <div class="collapse navbar-collapse" id="navbarNav2">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#about_section">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'type:signup' %}">ثبت نام</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'type:user_auth' %}">ورود</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'type:home' %}">صفحه اصلی
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                </div>
                </nav>

            {% endif %}

    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7 col-sm-12  text-white">
                <!-- <h6>USERNAME: {{ user.username }}</h6> -->
                <h1>CALL OF TYPING</h1>
                <h4 style="font-family: 'B Mehr'">
                    این سایت بهت کمک می کنه که مهارت و سرعت تایپتو بهتر کنی و در کنارش بتونی یه رقابتی هم با بقیه
                    داشته باشی
                </h4>
                <a href="{% url 'type:ranking' %}">
                    <button class="btn btn-light px-5 py-2 primary-btn" style="font-family: 'B Mehr'">
                        رتبه بندی
                    </button>
                </a>
                <a href="{% url 'type:ord_type' %}">
                    <button class="btn btn-light px-5 py-2 primary-btn" style="font-family: 'B Mehr'">
                        تایپ رو شروع کن
                    </button>
                </a>
            </div>
            <div class="col-md-5 col-sm-12  h-25">
                <img src="../static/img/b.png" alt="Book"/>
            </div>
        </div>
    </div>
</header>
<main>

    <section>

        <div class="row">
            <div class="column">
                <a href="{% url 'type:ord_type' %}">
                    <img src="../static/img/type.jpeg" alt="custom" class="bluer_filter">
                </a>
            </div>
            <div class="column">
                <a href="{% url 'type:song_type_mode' %} ">
                    <img src="../static/img/musics.jpg" alt="music" class="bluer_filter">
                </a>
            </div>
            <div class="column">
                <a href="{% url 'type:my_groups' %}">
                    <img src="../static/img/group.jpg" alt="group" class="bluer_filter">
                </a>
            </div>


        </div>

    </section>

    <section id="about_section" class="section-1" style="height: 750px">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="pray">
                        <img src="../static/img/298f3eacdb07bf9f2223645236ef47e1.gif" alt="Pray"/>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-left">
                        <h1 style="font-family: 'B Mehr'; text-align: right">درباره ما</h1>
                        <p class="pt-4" style="text-align: center">
                            Call of Typing
                        </p>
                        <center><p>😊😊😊</p></center>
                        <p style="font-family: 'B Mehr'; text-align: right">
                            .یک وبسایتی در زمینه بازی و افزایش مهارت تایپ
                            <br>
                             تفاوتی نداره که یه تایپیست باشی یا یه برنامه نویس حرفه ای و یا حتی یه کاربر عادی، با استفاده از این وبسایت میتونی در کنار بازی و سرگرمی مهارت و سرعت تایپتو بهتر کنی و میتونی با ساختن گروه و اضافه کردن دوستات به گروه، یه رقابت هیجان انگیز داشته باشی
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>




</main>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; 2020</small>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/js/index.js"></script>
</body>

</html>