{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/ranking.css" />


    <title>Ranking</title>
    <script type="text/javascript" src="../static/js/ranking.js"></script>


</head>
<header>
    <div align="right">
        <a class="nav-link" href="{% url 'type:home' %}" style="color: blue">صفحه اصلی</a>
    </div>
</header>

<body>


    <!-- to have all teh table in one page, by make them appear when the related bottom clicked,
         you should change the other one display to 'none' and the selected one change it's display to 'table'
        wont work properly, check it later -->

    <div class="container">
        <div class="col-md-6">

            <div id="tables">

                <table class="table table-dark" id="type-table" align="right">

                    <thead>
                        <tr align="right">
                            <th></th>
                            <th></th>
                            <th scope="col" style="font-family: '2  Koodak'">رتبه بندی تایپ متن</th>
                        </tr>
                        <tr style="font-family: '2  Koodak'" align="right">
                            <th scope="col">امتیاز</th>
                            <th scope="col">کاربر</th>
                            <th scope="col">رتبه</th>
                        </tr>

                    </thead>

                    <tbody>
                        {% for user in text_rank_array %}
                        <tr align="right">
                            <th scope="row">{{ user.profile.text_score }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.profile.get_text_rank }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>

                <table class="table table-dark" id="song-table" style="display: none;">
                    <thead>
                        <tr align="right">
                            <th></th>
                            <th></th>
                            <th scope="col" style="font-family: '2  Koodak'">رتبه بندی تایپ آهنگ</th>
                        </tr>
                        <tr style="font-family: '2  Koodak'" align="right">
                            <th scope="col">امتیاز</th>
                            <th scope="col">کاربر</th>
                            <th scope="col">رتبه</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in song_rank_array %}
                        <tr align="right">
                            <th scope="row">{{ user.profile.song_score }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.profile.get_song_rank }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>


            <div class="flex-box-buttons" style="font-family: '2  Koodak'">
                <button class="btn btn-dark" onclick="total_ranking()">رتبه بندی کلی</button>
                <button class="btn btn-dark" onclick="group_ranking()">رتبه بندی گروه ها</button>
                <button class="btn btn-dark" onclick="song_ranking()">رتبه بندی آهنگ</button>
                <button class="btn btn-dark" onclick="type_ranking()">رتبه بندی متن</button>
            </div>


        </div>

    </div>

</body>

</html>